# This is a basic workflow to help you get started with Actions

name: My First Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:
  first-pipeline:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        run: docker build -t hello-world-nginx:v1 .

      - name: Run container
        run: docker run -d --name hello -p 8080:80 hello-world-nginx:v1
